# Eat Safe, Love

## Notebook Set Up

In [164]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [166]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [168]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [170]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [172]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [176]:
# Find the establishments with a hygiene score of 20
query ={"scores.Hygiene":20}
fields = {"_id":1, "AddressLine1":1, "AddressLine2":1, "AddressLine3":1, "BusinessName":1, "BusinessType":1, "BusinessTypeID":1, 
          "PostCode":1, "RatingDate":1, "RatingValue":1, "geocode":1, "scores":1}

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))
print()
# Display the first document in the results using pprint
pprint(establishments.find(query)[0])

41

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6799b037f0786c71a494be4c'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [178]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query,fields)
df= pd.json_normalize(results)
df
# Display the number of rows in the DataFrame
print(df.shape)
# Display the first 10 rows of the DataFrame
df.head(10)

(41, 15)

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,PostCode,RatingValue,RatingDate,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,6799b037f0786c71a494be4c,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,BN21 1BU,0,2021-09-23T00:00:00,20,20,20,0.276940,50.769705
1,6799b037f0786c71a494c1cd,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,CO14 8HN,0,2022-06-22T00:00:00,20,15,30,1.278721,51.857536
2,6799b037f0786c71a494c4d7,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,CO15 6AD,0,2021-08-13T00:00:00,20,20,20,1.159270,51.789429
3,6799b037f0786c71a494c6c5,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,BN25 1PG,1,2021-12-23T00:00:00,20,10,20,0.102020,50.770885
4,6799b037f0786c71a494c6d4,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,BN25 1HP,1,2021-10-07T00:00:00,20,10,20,0.101446,50.770724
5,6799b038f0786c71a494d073,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,SS1 2PP,0,2022-07-21T00:00:00,20,20,20,0.736349,51.541448
6,6799b038f0786c71a494d294,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,SS1 1BW,0,2022-08-03T00:00:00,20,20,20,0.712167,51.535007
7,6799b039f0786c71a494e7bf,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,SS6 9HN,0,2022-03-23T00:00:00,20,15,30,0.602364,51.591515
8,6799b039f0786c71a494ec03,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,TN8 7AH,1,2022-03-04T00:00:00,20,5,20,0.146450,51.185947
9,6799b03af0786c71a494f415,F & S,Retailers - other,4613,,81 Southernhay,Basildon,SS14 1EU,0,2021-07-26T00:00:00,20,20,20,0.462307,51.570050

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [183]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query ={"LocalAuthorityName":{"$regex":"London"}, "RatingValue" :{"$gte":4}}
fields = {"_id":1, "AddressLine1":1, "AddressLine2":1, "AddressLine3":1, "BusinessName":1, "BusinessType":1, "BusinessTypeID":1, 
          "PostCode":1, "RatingDate":1, "RatingValue":1, "geocode":1, "scores":1}

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))

print()

# Display the first document in the results using pprint
pprint(establishments.find(query,fields)[0])

33

{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingValue': 4,
 '_id': ObjectId('6799b038f0786c71a494d867'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [185]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query,fields)
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(df.shape)

# Display the first 10 rows of the DataFrame
df.head(10)

(33, 15)

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,PostCode,RatingValue,RatingDate,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,6799b038f0786c71a494d867,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,ME12,4,2021-10-18T00:00:00,5,10,5,0.508551,51.369321
1,6799b038f0786c71a494db8d,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,TN4 8HR,5,2021-05-14T00:00:00,0,5,0,0.249256,51.123623
2,6799b039f0786c71a494e6da,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,SS7 1NF,4,2018-11-02T00:00:00,0,0,10,0.561954,51.543831
3,6799b03af0786c71a494f4da,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,RM18 7EH,5,2020-12-04T00:00:00,0,5,0,0.346337,51.464066
4,6799b03af0786c71a494f4db,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,RM18 7EH,5,2018-11-02T00:00:00,0,0,0,0.346325,51.464078
5,6799b03af0786c71a494fbe3,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,RM15 5QY,5,2016-08-23T00:00:00,0,0,0,0.287555,51.504071
6,6799b03cf0786c71a4951cf1,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,E16 2NJ,5,2021-07-09T00:00:00,0,5,5,0.069286,51.501121
7,6799b03cf0786c71a49520b8,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,E16 2PX,4,2019-01-18T00:00:00,10,5,5,0.048006,51.503733
8,6799b03cf0786c71a49520d2,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,E16 2PX,5,2017-07-17T00:00:00,0,0,0,0.047966,51.504112
9,6799b03cf0786c71a49520d3,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,E16 2PX,5,2017-07-17T00:00:00,0,0,0,0.047966,51.504112

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [188]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = {"geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
        "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
        "RatingValue": 5}
fields = {"_id":1, "AddressLine1":1, "AddressLine2":1, "AddressLine3":1, "BusinessName":1, "BusinessType":1, "BusinessTypeID":1, 
          "PostCode":1, "RatingDate":1, "RatingValue":1, "geocode":1, "scores":1}
# Sort by hygiene score (ascending order)
sort = [("score.Hygiene", 1)]

limit =5

# Cast the results as a list and save the results to a variable
results = list(establishments.find(query,fields).sort(sort).limit(limit))

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))

# Pretty print the results
pprint(results)

87
[{'AddressLine1': '130 - 132 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'BusinessName': 'Volunteer',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2019-08-05T00:00:00',
  'RatingValue': 5,
  '_id': ObjectId('6799b03cf0786c71a49516ab'),
  'geocode': {'latitude': 51.4873437, 'longitude': 0.09208},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Plumstead Manor School Old Mill Road',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'BusinessName': 'Plumstead Manor Nursery',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'PostCode': 'SE18 1QG',
  'RatingDate': '2021-06-16T00:00:00',
  'RatingValue': 5,
  '_id': ObjectId('6799b03cf0786c71a49516c3'),
  'geocode': {'latitude': 51.481517791748, 'longitude': 0.0859939977526665},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': '144 - 146 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'BusinessName': 'Iceland',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2019-11-13T00:00:00',
  'RatingValue': 5,
  '_id': ObjectId('6799b03cf0786c71a495167e'),
  'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}},
 {'AddressLine1': '152 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'BusinessName': 'TIWA N TIWA African Restaurant Ltd',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2020-10-24T00:00:00',
  'RatingValue': 5,
  '_id': ObjectId('6799b03cf0786c71a4951657'),
  'geocode': {'latitude': 51.4870351, 'longitude': 0.0927429},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}},
 {'AddressLine1': 'Restaurant And Premises 107A Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  'BusinessType': 'Mobile caterer',
  'BusinessTypeID': 7846,
  'PostCode': 'SE18 1SE',
  'RatingDate': '2021-11-11T00:00:00',
  'RatingValue': 5,
  '_id': ObjectId('6799b03cf0786c71a495168e'),
  'geocode': {'latitude': 51.4875335693359, 'longitude': 0.0925370007753372},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}]

In [190]:
# Convert result to Pandas DataFrame
df = pd.json_normalize(results)
print(df.shape)
df

(5, 15)

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,PostCode,RatingValue,RatingDate,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,6799b03cf0786c71a49516ab,Volunteer,Pub/bar/nightclub,7843,130 - 132 Plumstead High Street,,Plumstead,SE18 1JQ,5,2019-08-05T00:00:00,0,0,0,0.092080,51.487344
1,6799b03cf0786c71a49516c3,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,SE18 1QG,5,2021-06-16T00:00:00,0,0,5,0.085994,51.481518
2,6799b03cf0786c71a495167e,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,SE18 1JQ,5,2019-11-13T00:00:00,0,5,5,0.092420,51.487148
3,6799b03cf0786c71a4951657,TIWA N TIWA African Restaurant Ltd,Restaurant/Cafe/Canteen,1,152 Plumstead High Street,,Plumstead,SE18 1JQ,5,2020-10-24T00:00:00,5,5,5,0.092743,51.487035
4,6799b03cf0786c71a495168e,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,SE18 1SE,5,2021-11-11T00:00:00,0,0,0,0.092537,51.487534

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [193]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results
match_query = {'$match': {'scores.Hygiene': 0}}

group_query = {'$group': {'_id': {'LocalAuthorityName': '$LocalAuthorityName'},
                          'num_restaurants': { '$sum': 1 } 
                         }
              }

# Create a dictionary that will allow the pipeline to sort by count in descending order
sort_values = {'$sort': {'num_restaurants': -1}}

# Put the pipeline together
pipeline = [match_query, group_query, sort_values]

# Print the number of documents in the result
results = list(establishments.aggregate(pipeline))

# Print the first 10 results
pprint(results[0:10])

[{'_id': {'LocalAuthorityName': 'Thanet'}, 'num_restaurants': 1130},
 {'_id': {'LocalAuthorityName': 'Greenwich'}, 'num_restaurants': 882},
 {'_id': {'LocalAuthorityName': 'Maidstone'}, 'num_restaurants': 713},
 {'_id': {'LocalAuthorityName': 'Newham'}, 'num_restaurants': 711},
 {'_id': {'LocalAuthorityName': 'Swale'}, 'num_restaurants': 686},
 {'_id': {'LocalAuthorityName': 'Chelmsford'}, 'num_restaurants': 680},
 {'_id': {'LocalAuthorityName': 'Medway'}, 'num_restaurants': 672},
 {'_id': {'LocalAuthorityName': 'Bexley'}, 'num_restaurants': 607},
 {'_id': {'LocalAuthorityName': 'Southend-On-Sea'}, 'num_restaurants': 586},
 {'_id': {'LocalAuthorityName': 'Tendring'}, 'num_restaurants': 542}]

In [195]:
# Convert the result to a Pandas DataFrame
df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(df.shape)
# Display the first 10 rows of the DataFrame
df.head(10)

(55, 2)

   num_restaurants _id.LocalAuthorityName
0             1130                 Thanet
1              882              Greenwich
2              713              Maidstone
3              711                 Newham
4              686                  Swale
5              680             Chelmsford
6              672                 Medway
7              607                 Bexley
8              586        Southend-On-Sea
9              542               Tendring